<h1>Hello, world!<h1>

<h2>Tacos:</h2>

<p>There are so many tacos</p>

<% tacos = ["Carnitas", "Shrimp", "Carne Asada"] %>
<p>
There are so many tacos: <%= tacos.length %>
</p>

<ul>
  <li>Carnitas</li>
  <li>Shrimp</li>
  <li>Carne Asada</li>
</ul>